/* common styles */
* {
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* First section */
.First-container {
  background: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
  padding: 50px 240px;
}
.section-top {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  gap: 30px;
}
.navbar a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  text-decoration: none;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.section-details {
  text-align: center;
  margin-top: 102px;
}
.section-details h3 {
  font-weight: 700;
  font-size: 64px;
}
.section-description {
  padding-top: 30px;
  color: #727272;
}
.button-section {
  text-align: center;
  margin-top: 32px;
   margin-bottom: 50px;
}
.btn-primary {
  width: 180px;
  height: 64px;
  left: 870px;
  top: 463px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.btn-primary:hover {
  background-color: #ffb100;
}

/* second section */
.feature-highlight{
    padding-left: 20px;
}
.second-container .feature-highlight h3{
    font-size: 45px;
}
.silver-text {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.orange-text {
  font-weight: 700;

  color: #ff900e;
}
.second-container{
    display: flex;
    margin: 50px 240px;
    align-items: center;
}
.feature-pictures{
    display: grid;
    row-gap: 24px;
    column-gap: 12px;
    grid-template-columns: repeat(2,1fr);
    
}
.feature-highlight .btn-primary{
    margin-top: 32px;
}
