/* common styles */
* {
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* First section */
.First-container {
  background: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
  padding: 50px 240px;
}
.section-top {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  gap: 30px;
}
.navbar a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  text-decoration: none;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.section-details {
  text-align: center;
  margin-top: 102px;
}
.section-details h3 {
  font-weight: 700;
  font-size: 64px;
}
.section-description {
  padding-top: 30px;
  color: #727272;
}
.button-section {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 50px;
}
.btn-primary {
  width: 180px;
  height: 64px;
  left: 870px;
  top: 463px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.btn-primary:hover {
  background-color: #ffb100;
}

/* second section */
.feature-highlight {
  padding-left: 20px;
}
.second-container .feature-highlight h3 {
  font-size: 45px;
}
.silver-text {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.orange-text {
  font-weight: 700;

  color: #ff900e;
}
.second-container {
  display: flex;
  margin: 50px 301px;
  align-items: center;
}
.feature-pictures {
  display: grid;
  row-gap: 24px;
  column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
.feature-highlight .btn-primary {
  margin-top: 32px;
}

/* third section */
.third-section {
  margin: 80px 240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.third-section .section-description {
  padding-bottom: 30px;
}
.enjoy-features {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-right: 40px;
  width: 80%;
}
.enjoy-feature {
  padding-top: 30px;
  padding-right: 36px;
  padding-left: 33px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.third-section .section-description {
  padding-top: 0;
}
.flex-item img {
  width: 100%;
}
.flex-item .btn-primary {
  width: 342px;
  height: 200px;
  position: absolute;
  top: 162rem;
  left: 45rem;
  font-size: 65px;
  font-weight: 700;
  padding-bottom: 0;
}
.flex-item .btn-primary .small-text{
    font-size: 25px;
    margin-top: 0;
}
